.page {
  padding: 2.5rem;
  padding-top: 64px;

  &__wrapper {
    padding-top: 5rem;
    padding-bottom: 4rem;

    .description {
      h1 {
        font-size: 2.5rem;
        line-height: 1.25em;
        font-weight: 200;
      }
      p {
        font-size: 1rem;
        line-height: 1.5;
        margin-top: 0.75rem;
      }
    }
    .product__select {
      select {
        height: 3.5625rem;
        width: 25rem;
        padding: 0.125rem 2rem 0.0625rem 1.25rem;
        font-size: 1rem;
        background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png)
          no-repeat right #fff;
        -webkit-appearance: none;
        background-size: 10px 10px;
        background-position: 98% 60%;
        cursor: pointer;
        border-radius: 0;
        border: 1px solid #cdd1ce;
        outline: none;

        &:focus {
          border: 1px solid #4b5548;
        }
      }
    }
  }
  //resize for mobile
  @include breakpoints-down(small) {
    &__wrapper {
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 0;
      .description {
        h1 {
          font-size: 1.5rem;
          line-height: 1.125em;
        }
        p {
          font-size: 0.8125rem;
          line-height: 1.7;
        }
      }
      .product__select {
        width: 100%;
        margin-top: 20px;
        select {
          width: inherit;
          background-position-x: 98%;
        }
      }
    }
  }
}
.blog {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background: $white;

  &__header {
    a {
      font-size: 2.25rem;
      font-weight: 400;
      line-height: 1.333em;
      color: $black;
      text-decoration: underline;
    }
    span {
      img {
        width: 2em;
        height: 1.5em;
      }
    }
  }

  &__list {
    display: flex;
    margin-top: 1.5rem;
    flex-wrap: wrap;
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.5s ease;
      background-color: $grayishGreen;
    }
    a {
      position: relative;
      display: block;
      width: 20%;
      padding: 0 0.5rem;
      img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        width: 100%;
        display: block;
      }
      &:hover .overlay {
        opacity: 0.6;
      }
    }
  }
  .mobile-img {
    //resize for mobile
    @include breakpoints-down(small) {
      a {
        width: 50%;
        padding: 0 0.25rem 0.5rem;
        &:last-child {
          display: none;
        }
      }
    }
  }
  .mobile-blog-text {
    //resize for mobile
    @include breakpoints-down(small) {
      a {
        font-size: 1.4rem;
        line-height: 1.125em;
      }
    }
  }
}

footer {
  width: 100%;
  padding: 4rem 2.5rem;
  background: #4b5548;
  color: #f5f5f4;

  a {
    color: $white;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .wrapper {
    padding-bottom: 15px;
    .email__us {
      width: 40%;
      .email__wrapper {
        max-width: 361px;
        h2 {
          margin-bottom: 0.75rem;
          font-weight: 200;
          font-size: 1.5rem;
          line-height: 3rem;
        }
        p {
          font-size: 15px;
          line-height: 1.5;
          font-weight: 200;
          margin-bottom: 0.75rem;
        }
        .email__form {
          width: 100%;
          height: 42px;
          border-bottom: 1px solid $white;
          input {
            height: inherit;
            width: inherit;
            background-color: transparent;
            border: 0;
            color: $white;
            font-size: 13px;
            outline: none;

            &::placeholder {
              color: $white;
            }
          }
        }
      }
    }
    .socials {
      font-size: 25px;
      width: 30%;
      a {
        margin-right: 0.75rem;
        transition: 0.3s;
        display: inline-block;

        &:hover {
          transform: scale(1.08);
        }
      }
    }
  }
  .links__wrapper {
    width: 60%;

    .links {
      width: 22%;
      h2,
      a {
        margin-bottom: 10px;
      }

      a {
        font-size: 15px;
        font-weight: 200;
      }
    }
  }
  .contact {
    font-size: 14px;
    font-weight: 200;
    line-height: 1.5;

    p:nth-child(1) {
      font-size: 1rem;
      font-weight: 600;
    }

    p:nth-child(2) {
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
    }
    a {
      text-decoration: underline;
    }
  }
  .copyright {
    margin: 2.5rem 0;
  }
  .policies {
    a {
      text-decoration: underline;
      margin-right: 0.5rem;
    }
  }
  .address {
    margin-top: 1rem;
    font-size: 16px;
  }
  &.mobile-footer {
    //resize for mobile
    @include breakpoints-down(small) {
      .wrapper {
        flex-direction: column;
        .email__us,
        .links__wrapper {
          width: 100%;
        }
        .email__us {
          margin-bottom: 20px;
        }
      }
    }
  }
}
