$white: rgb(255, 255, 255);
$black: rgb(0,0,0);
$lightBlack: #bcbcbc;
$darkGrayishGreen: rgb(43, 46, 43);
$lightGrayishGreen: rgb(226, 230, 227);
$grayishGreen: rgb(76, 85, 72);
$darkGreen: #3d5b57;
$lightGray: #d0d0d0;

$primary: #f5f5f4;
$secondary: rgb(75, 85, 72);



//font sizes
$font-sm: 0.8125rem; //14px/16
$font-med: 1.125rem; //18px/16